<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 ie6-8 ie6-7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 ie6-8 ie6-7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 ie6-8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en" ><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<style type="text/css">
		.box {
			padding: 10px;
		}

		#dialog {
			margin-top: 15px;
			border: 1px solid #000;
		}

		.strong {
			font-weight: bold;
		}
	</style>
</head>
<body>
	<section>
		<h1>Chat</h1>
		<form>
			Type your message:
			<input type="text" id="input" placeholder="Type your message">
		</form>
		<div class="box" id="dialog"></div>	
		<div class="box" id="info"></div>
	</section>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/main.js"></script>

</body>
</html>